<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{{title}}</title>
     <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

     <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.css">
    <link rel="stylesheet" href="/stylesheets/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/stylesheets/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/stylesheets/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    {{{body}}}
<!-- jquery
		============================================ -->
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/javascripts/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/javascripts/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/javascripts/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/javascripts/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/javascripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/javascripts/counterup/jquery.counterup.min.js"></script>
    <script src="/javascripts/counterup/waypoints.min.js"></script>
    <script src="/javascripts/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/javascripts/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/javascripts/metisMenu/metisMenu.min.js"></script>
    <script src="/javascripts/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/javascripts/morrisjs/raphael-min.js"></script>
    <script src="/javascripts/morrisjs/morris.js"></script>
    <script src="/javascripts/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/javascripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="/javascripts/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/javascripts/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/javascripts/calendar/moment.min.js"></script>
    <script src="/javascripts/calendar/fullcalendar.min.js"></script>
    <script src="/javascripts/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/javascripts/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/javascripts/main.js"></script>

  </body>
  
      
</html>
