 <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center ps-recovered">
				<h3>PASSWORD RECOVER</h3>
				<p>Please fill the form to recover your password</p>
			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body poss-recover">
                        <p>
                            Enter your email address and your password will be reset and emailed to you.
                        </p>
                        <form action="/password_recovery/editar" method="POST" id="datos">
                            <div class="form-group">
                                <label class="control-label" for="username">Nueva contraseña</label>
                                <input type="hidden" value="{{student_id}}" name="student_id">
                                <input type="password" placeholder="Nueva contraseña" title="Please enter you email adress" required="" value="" name="nPassword" id="nPassword" class="form-control">
                                <span class="help-block small">Su nueva contraseña</span>
                            </div>

                            <button class="btn btn-success btn-block">Cambiar contraseña</button>
                        </form>
                    </div>
                </div>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
			</div>
		</div>   
    </div>